# PIPELINE - TRANSFORMATION : AGGREGATION BY NUMBER OF CASES/DEATHS PER YEAR/MONTH

In [8]:
import pandas as pd
import csv
import re

topic = 'deaths'
agg = 'M'
loc = 'global'

cleaned_dataset_path = f'CLEANED_{loc}_{topic}.csv'
transformed_dataset_path = f"TRANSFORMED_agg_{'monthly' if agg == 'M' else 'yearly'}_{loc}_{topic}.csv"

DF = pd.read_csv(cleaned_dataset_path)

## Transformation

In [9]:
DF_non_date = DF[DF.columns[:4]]
DF_non_date

           Country/Region Province/State        Lat        Long
0             Afghanistan        Unknown  33.939110   67.709953
1                 Albania        Unknown  41.153300   20.168300
2                 Algeria        Unknown  28.033900    1.659600
3                 Andorra        Unknown  42.506300    1.521800
4                  Angola        Unknown -11.202700   17.873900
..                    ...            ...        ...         ...
284    West Bank and Gaza        Unknown  31.952200   35.233200
285  Winter Olympics 2022        Unknown  39.904200  116.407400
286                 Yemen        Unknown  15.552727   48.516388
287                Zambia        Unknown -13.133897   27.849332
288              Zimbabwe        Unknown -19.015438   29.154857

[289 rows x 4 columns]

In [10]:
DF.columns = pd.to_datetime(DF.columns, errors='coerce', format='%m/%d/%y')

DF_new = DF[DF.columns[~DF.columns.isna()]].copy()

DF_new.columns = DF_new.columns.to_series().dt.to_period(agg)
DF_new = DF_new.groupby(DF_new.columns, axis=1).max()

DF_new.columns = DF_new.columns.strftime(f"Total_{topic}_{'%m_%Y' if agg == 'M' else '%Y'}")

DF = pd.concat([DF_non_date, DF_new], axis=1)

DF.to_csv(transformed_dataset_path, index=False)